<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class='login-register'>

        <form id='login-form'>
            <p>
                <label>Username:</label>
                <input style="width: 100%;" id='login-name' type="text" name="username">
            </p>
            <p>
                <label>Password:</label>
                <input style="width: 100%; " id='login-password' type="password" name="password">
            </p>
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <p>
                    <button class='btn btn-primary' type="submit"> Login </button>
                </p>
                <p>
                    <a href="/register">Register</a>
                </p>
            </div>

        </form>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src='../static/js/main.js'></script>

</html>